.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.about__content {
    display: flex;
    flex-direction: column;
}

.about__title {
    color: var(--clr-dark);
    font-size: var(--size-2xl);
}

.about__subtitle {
    color: var(--clr-dark);
    font-size: var(--size-2xl);
}

.about__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate700);
    padding-bottom: .5em;
}

.about__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 1em;
    margin-bottom: 1em;
}

.about__img {
    height: var(--size-2xl);
    width: var(--size-2xl);
    transition: transform 0.3s;
}

.about__img:hover {
    transform: translateY(-2px);
}

.about__resume {
    font-size: var(--size-xs);
    line-height: 1em;
}

.about__hr {
    border-color: var(--clr-slate300);
}

.about__sub-subtitle {
    padding-top: 0.5em;
    color: var(--clr-dark);
    font-size: var(--size-2xl);
}

.about__sub-ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: '\1F535';
    padding: 1em;
    flex: 1;
}

.about__sub-list {
    font-size: var(--size-sm);
    color: var(--clr-slate700);
}

.about__sub-list::before {
    content: '';
    margin-left: 0.5em;
}

.about__sub-ul-container {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    margin-left: 6.5em;
}

@media (min-width: 640px) {
    .about__subtitle {
        font-size: var(--size-3xl);
    }

    .about__title {
        font-size: var(--size-3xl);
    }

    .about__description {
        font-size: var(--size-base);
        padding-bottom: .75em;
    }

    .about__img {
        height: var(--size-3xl);
        width: var(--size-3xl);
    }

    .about__resume {
        font-size: var(--size-sm);
        line-height: 1.125em;
    }

    .about__img-wrapper {
        margin: 0 auto;
    }

    .about__big-img {
        width: 28rem;
    }

    .about__sub-subtitle {
        padding-top: 0.5em;
        font-size: var(--size-3xl);
    }

    .about__sub-list {
        font-size: var(--size-base);
    }

    .about__sub-ul-container {
        margin-left: 8em;
    }
}

@media (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 8em;
    }

    .about__list {
        justify-content: left;
    }

    .about__sub-ul {
        text-align: left;
    }

    .about__sub-ul-container {
        margin-left: 0.5em;
    }
}

@media (min-width: 1280px) {
    .about {
        padding: 6em;
    }

    .about__subtitle {
        font-size: var(--size-4xl);
    }

    .about__title {
        font-size: var(--size-4xl);
    }

    .about__description {
        font-size: var(--size-lg);
        padding-bottom: 1em;
    }

    .about__img {
        height: var(--size-4xl);
        width: var(--size-4xl);
    }

    .about__resume {
        font-size: var(--size-lg);
        line-height: 1.125em;
    }

    .about__sub-subtitle {
        font-size: var(--size-4xl);
    }

    .about__sub-list {
        font-size: var(--size-lg);
    }
}

@media (min-width: 1536px) {}